<?xml version="1.0" encoding="utf-8"?>

<launch>

	<arg name="namespace" default="drill_positioning" />
  	<group ns="$(arg namespace)">

	<node name="drill_positioning" pkg="drill_positioning" type="drill_positioning" respawn="true" clear_params="true" output="screen">
		<remap from="odometry" to="camera/odom/sample" />
	</node>

 	<node name="serial_example" pkg="serial_example" type="serial_example_node" respawn="true" clear_params="true" output="screen">	
	</node>

	<include file="$(find realsense2_camera)/launch/rs_t265.launch"></include>

	<node name="transformation" pkg="transformation" type="transformation" respawn="true" clear_params="true" output="screen">
        <remap from="odometry" to="camera/odom/sample" />
    </node>

#### Nodelet manager ######################################################

   <node pkg="nodelet" type="nodelet" name="imu_manager"
    	args="manager" output="screen" />

#### IMU Driver ###########################################################

   <node pkg="nodelet" type="nodelet" name="ImuFilterNodelet"
    	args="load imu_filter_madgwick/ImuFilterNodelet imu_manager"
    	output="screen">

    <param name="publish_tf" value="false"/>

    </node>

	</group>

</launch>